# Frontend URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon PostgreSQL
DATABASE_URL=

# Auth
BETTER_AUTH_SECRET=

# Resend email
RESEND_API_KEY=
EMAIL_FROM=

# Rate limit secret for HMAC
RATE_LIMIT_SECRET=